<h1>Журнал</h1>
<ul>
  <% @journal_recs.each do |journal_rec| %>
    <li>
      Прізвище: <%= link_to journal_rec.surname, journal_rec%>
      Середня оцінка: <%= journal_rec.average %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Додати студента", new_journal_rec_path %> </p>
<p><%= link_to "Cписок боржників", debt_journal_recs_path %></p>
<p><%= link_to "Успішність усіх студентів", marks_percent_journal_recs_path %></p>
<p><%= link_to "Відсоток відмінників і хорошистів (4-5 балів)", good_marks_percent_journal_recs_path %></p>
<p><%= link_to "Предмет, зданий найкраще", best_subj_journal_recs_path %></p>
<p><%= link_to "Номери груп у порядку спадання успішності", groups_marks_desc_journal_recs_path %></p>